apiVersion: apps/v1
kind: Deployment
metadata: 
  name: my-deployment
  labels:
    app: nginx
spec:
  replicas: 1
  selector:
    matchLabels:
      app: nginx
  template:
    metadata:
      name: nginx-pod
      labels:
        app: nginx
    spec:
      containers:
      - name: nginx-cont
        image: nginx
        ports:
        - containerPort: 80
      - name: httpd-cont
        image: httpd
        ports:
        - containerPort: 8080        
