apiVersion: apps/v1
kind: Deployment
metadata:
  name: httpd-deploy
spec:
  replicas: 2
  selector:
    matchLabels:
      app: httpd
  template:
    metadata:
      labels:
        app: httpd
    spec:
      containers:
        - name: httpd
          image: 753093280022.dkr.ecr.ap-northeast-1.amazonaws.com/myrepo:{IMAGE_TAG}
          ports:
            - containerPort: 80
